<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net45" />
  <package id="csutils" version="4.0.257.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.4" targetFramework="net45" />
  <package id="Fody" version="1.26.1" targetFramework="net45" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net45" />
</packages>